.motel-booking__capture-text {
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.motel-booking__button {
  background-color: $sedona-blue;
  border: none;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  padding: 10px 46px;
}
