body {
  background: url("../img/sedona-index-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  // min-height: 750px;
}

@media (min-width: $tablet-width) {
  body {
    background: url("../img/sedona-index-tablet.jpg") no-repeat 50% 0;
    background-size: 768px auto;
    // min-height: 750px;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: url("../img/sedona-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1280px auto;
    // min-height: 750px;
  }
}
