.review__call {
  font-size: 18px;
  font-weight: 700;
  color: black;
}


.review {

  legend {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
}


.review {

  input {
    background-color: $input-bg;
    color: black;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}

.review {

  input {
    background-color: $input-bg;
    color: black;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}

.radio__item,
.checkbox__item {
  text-transform: none;
  font-weight: 700;
}

.review {
  textarea {
    font: inherit;
    color: black;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}
