.site-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  a {
    display: block;
    text-decoration: none;
    font-family: "PTSans", "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    padding: 7px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.site-list__item {
  display: block;
  background-color: $sedona-blue;
  // opacity: 0.5;
  margin: 0 auto;
  // outline: 1px solid red;
  text-align: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    // align-items: stretch;
    // justify-content: space-between;
    outline: 1px dashed red;

    a {
      padding: 15px 0;
      margin: 0;
      // display: block;
      font-size: 14px;
      line-height: 26px;
      color: black;
      width: 150px;
      // outline: 1px dashed yellow;
    }
  }

  .site-list__item {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: center;
    // outline: 1px dashed red;

    &:nth-child(2) {
      margin-right: 168px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    a {
      width: 240px;
    }
  }

  .site-list__item {
    &:nth-child(2) {
      margin-right: 240px;
    }
  }
}
