@import "variables";
@import "fonts";
@import "site-list";
@import "advantages";
@import "copyright";
@import "inner-page";
@import "main-footer";
@import "main-nav";
@import "map";
@import "motel-booking";
@import "page-form";
@import "page-header";
@import "page-main";
@import "page-photo";
@import "photo-item";
@import "recomendation";
@import "review";
@import "social";
@import "video";
@import "visually-hidden";
@import "modal";

body {
  font-family: "PTSans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $base-font;
  font-weight: 400;
  text-transform: uppercase;
}
